.like-button {
    margin: auto;
}

.like-counter {
    text-align: center;
}


.item-container {
    align-items: top;
    display: inline-flex;
    flex-direction: column;
    list-style-type: none;
    margin: auto;
    padding: 2vw;
    text-align: center;
    width: 25vw;
}